<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<meta charset="UTF-8">
  
<style>
#video_wrapper
{
    margin:0px;
    padding:0px;
}
#video_wrapper video
{
    position: fixed;
    top: 50%; left: 50%;
    z-index: -99; important!
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
</style>

<body>
  <div id="video_wrapper">
    <video autoplay loop>
        <source src="https://drive.google.com/uc?export=view&id=1kAw4XIS3JH_cpTHGMRsV0mwl7dcFz2wq" type="video/mp4">
    </video>
  </div>
</body>
